.manage-heading6{
    margin-left: 690px;
    margin-top: -440px;
    font-size: 25px;
}
.table-heading2 {
    margin-left: 450px;
    border: 2px solid black;
    border-radius: 10px;
    margin-right: 200px;
    margin-bottom: 10px;
  }
  .table-heading2 .th{
    text-align: center;
    margin-left: 40px;
    font-weight: bold;
    font-size: 24px;
    color: rgb(248, 6, 6);
    margin-top: 10px;
    margin-bottom: -10px;
  }
.table2 {
    margin: 20px;
    border: 1px solid rgb(14, 13, 13);
    border-radius: 10px;
    font-size: 18px;
  }
  .table2 th,
  .table2 td {
    border-bottom: 1px solid #c2c2c2;
    padding: 10px 20px; /* Optional for spacing */
  }
  .ha{
    display: flex;
  }
  .delete{
    background-color: rgb(252, 33, 4);
    color: white;
    font-size: 16px;
    border-radius: 5px;
    height: 30px;
    width: 80px;
   }
   .edit{
    background-color: rgb(4, 111, 252);
    color: white;
    margin-right: 8px;
    font-size: 16px;
    border-radius: 5px;
    height: 30px;
    width: 80px;
   }