.issued-books-list{
    display: flex;
    flex-direction: column;
    font-weight:bold ;
    font-size: 20px;
    margin-left: -40px;
}
.issued-books-main{
    border: 2px solid;
    margin-bottom: 180px;
    border-radius: 10px;
    margin-left: 450px;
    margin-right: 450px;    
    width: 480px;
    text-align: center;
}
.book-details-content{
    border: 1px solid;
    border-radius: 10px;
}
.issued-books-title{
    margin: 40px;
    margin-left: 600px;
    font-size: 25px;
}
.BookDetails{
    display: flex;
<<<<<<< HEAD
=======
    margin-top: -10px;
    margin-bottom: 20px;
>>>>>>> e07a47c3cd54194bc07a3957b66bc3e6538db22c
}
.issue-book-heading{
    font-size: 25px;
    color: red;
}
.book-details-title{
    color: red;
}
.issued-book-item{
    text-align: center;
    color: blue;
    margin-bottom: 20px;

}
.book-details-modal{
    text-align: center;
}
.book{
    margin: 10px;
}
.more-info-button{
    margin-left: 10px;
    border-radius: 5px;
    background-color: rgb(11, 130, 151);
    color: #ffffff;
    width: 100px;
    height: 30px;
}
.close-details-button{
    margin-bottom: 10px;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    background-color: #b3b1b1;
}
.issuedBooks-image{
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 20px;
}