.passwordForm1{
    border: 2px solid;
    border-radius: 10px;
    margin: 40px 250px 30px 500px;
    text-align: center;
}
.inpts1{
    border-radius: 5px;
    height: 30px;
    width: 200px;
    margin-bottom: 20px;
    margin-top: -10px;
    font-size: 20px;
}
.lables1{
    position: relative;
    font-weight: bold;
    font-size: 20px;
    margin-left: -40px;
}
.btnsss1{
    padding: 10px;
    border-radius: 10px;
    background-color: blue;
    color: #faf9f9;
    margin-bottom: 20px;
    margin-top: -10px;
    font-size: 20px;
}
.passheading1{
    font-size: 25px;
    color: red;
}
.headpass1{
    margin-left: 630px;
    margin-top: -426px;
    margin-bottom: -25px;
}
.formcp{
    border: 1px solid;
    border-radius: 10px;
    margin: 10px;
    padding-top: 30px;
}